@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="main-text col-5">
                <div class="title-text">
                    <h1>Studying Online is now much easier</h1>
                </div>
                <p class="additional-text mt-3">
                    Speak Up is an interesting platform that will teach you in more an interactive way
                </p>
                <button class="start-button">Let's start</button>
            </div>
            <div class="col-7 mt-5">
                <img src="./img/png/rafiki.png">
            </div>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <h1 class="fw-light">Languages courses near @Model.City, @Model.State</h1>
            @if (Model.Courses == null)
            {
                <h1 class="fw-light">
                    There are no courses in your area! <a asp-area="" asp-controller="Account"
                                                          asp-action="Login">Login</a> and create one!
                </h1>
            }
            else
            {
                @foreach (var item in Model.Courses)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img src="@item.Image" class="bd-placeholder-img card-img-top" width="100%" height="225"></img>
                            <div class="card-body">
                                <p class="card-text">@item.Title</p>
                                <p class="card-text">@item.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="btn btn-success" asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>