@model List<User>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="" role="img" focusable="false"></img>
                        <div class="card-body">
                            <p class="card-text">@item.UserName</p>
                            <p class="card-text">@item.Id</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Detail" asp-controller="User" asp-route-id="@item.Id">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="User" asp-route-id="@item.Id">Edit</a>
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id">Delete</a>
                                    }
                                </div>
                                <small class="text-body-secondary"></small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>